<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="CompilationOutputDirectory" value="out"/>
    <add key="CompilationName" value="MAL"/>
    <add key="BenchmarkAssemblyDefault" value="BenchmarkDefault"/>
    <add key="BenchmarkAssemblyVectorized" value="BenchmarkVector"/>
    <add key="BenchmarkAssemblyParallel" value="BenchmarkParallel"/>
    <add key="BenchmarkAssemblyDeforest" value="BenchmarkDeforest"/>
  </appSettings>
</configuration>